<%- include ('partials/head.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container" id="main-container">

        <div class="card">
            <div class="card-header">
                <h1>Fazendo uma pergunta</h1>
            </div>

            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label> Título </label>
                    <input type="text" placeholder="Insira o Título" class="form-control" name="titulo">
                    <br>
                    <label> Pergunta </label>
                    <textarea placeholder="Faça sua pergunta" class="form-control" name="pergunta"> </textarea>
                    <br>
                    <button class="btn btn-dark"> Enviar Pergunta</button>
                </form>
            </div>
        </div>



    </div>
</body>
<%- include('partials/footer.ejs') %>